html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
    /* https://fonts.adobe.com/fonts/old-claude-lp */
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #210f04;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    background-color: #260101;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;
    border: 5px;
    align-items: center;
    color: white;
    height: 60px;
    border-bottom: #bb6b00 2px dotted;
    z-index: 1;
}

#author {
    margin-left: 25px;
    margin-right: 25px;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

#author:hover {
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a{
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}
a:hover {
    letter-spacing: 5px;
    color: #f5cb5c;
}

.main-menu {
    margin-left: 25px;
    margin-right: 25px;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.main-menu:hover {
    padding-top: 5px;
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.header {}

#title {
    font-family: fleur, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: white;
    width: 1200px;
    padding-top: 100px;
}

h1 {
    margin: 0;
    text-align: center;

}

h2 {
    font-family: charcuterie-etched, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin: 0px;
    text-align: center;
}

h3 {
    font-family: old-man-eloquent, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    margin: 0;
}

#container {
    width: 1200px;
    font-family: warnock-pro-caption, serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.text-and-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.text {
    height: auto;
    width: 540px;
    font-family: old-claude-lp-regular, sans-serif;
font-weight: 400;
font-style: normal;
}

img {
    max-height: 340px;
    transition: 0.4s ease;
}

#last-image{
    padding-bottom: 120px;
}