html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "old-claude-lp-regular", sans-serif;
    background-color: #1e110e;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

header {
    background-color: #1e110e;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: white 4px dotted;
    z-index: 1;
}

.header-text {
    margin: 25px;
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a:hover {
    letter-spacing: 2px;
    color: lightgrey;
}

#main-page {
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 8rem;
    width: 1200px;
    align-self: center;
    text-align: center;
    font-family: "fleur-display", sans-serif;
    font-weight: normal;
    margin: 30px 0;
    letter-spacing: 2.5px;
}

footer {
    height: 50px;
    width: 100vw;
    background-color: #1e110e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: dotted white;
    margin-top: 30px;
}

#my-name {
    margin: 25px;
    color: white;
}

#class-name {
    color: white;
    margin: 25px;
}

#entry-name {
    color: white;
    margin: 25px;
}

#image{
    width: 1400px;
    height: 1200px;
    background-color: aliceblue;
    position: relative;
}

#background-house{
    background-color: #C19A6B;
    width: 1064px;
    height: 533px;
    position: absolute;
    left: 168px;
    bottom: 0px;
}

#background-house-entrance{
    background-color: #91734f;
    width: 364px;
    height: 626px;
    position: absolute;
    left: 518px;
    bottom: 0px;
}

/* #roof-1{
    background-color: #af4e35;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 168px;
    top: 467px;
}

#roof-2{
    background-color: #af4e35;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 932px;
    top: 467px;
} */

#roof-center{
    background-color: #af4e35;
    width: 764px;
    height: 200px;
    position: absolute;
    left: 317px;
    top: 467px;
}

.window{
    background-color: #eeda23;
    width: 50px;
    height: 75px;
    
}

#w1{
    position: absolute;
    top: 700px;
    left: 218px;
}

#w{
    position: absolute;
    top: 700px;
    left: 218px;
}
/* html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
    https://fonts.adobe.com/fonts/old-claude-lp
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #210f04;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    background-color: #260101;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;
    border: 5px;
    align-items: center;
    color: white;
    height: 60px;
    border-bottom: #bb6b00 2px dotted;
    z-index: 1;
}

#author {
    margin-left: 25px;
    margin-right: 25px;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

#author:hover {
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a{
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}
a:hover {
    letter-spacing: 5px;
    color: #f5cb5c;
}

.main-menu {
    margin-left: 25px;
    margin-right: 25px;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.main-menu:hover {
    padding-top: 5px;
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.header {}

#title {
    font-family: fleur, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: white;
    width: 1200px;
    padding-top: 100px;
}

h1 {
    margin: 0;
    text-align: center;

}

h2 {
    font-family: charcuterie-etched, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin: 0px;
    text-align: center;
}

h3 {
    font-family: old-man-eloquent, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    margin: 0;
}

#container {
    width: 1200px;
    font-family: warnock-pro-caption, serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.text-and-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.text {
    height: auto;
    width: 540px;
    font-family: old-claude-lp-regular, sans-serif;
font-weight: 400;
font-style: normal;
}

img {
    max-height: 340px;
    transition: 0.4s ease;
}

#last-image{
    padding-bottom: 120px;
} */