.eb-garamond-<uniquifier> {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  body {
    font-family: "EB Garamond", sans-serif;
   
}

.content {
    max-width: 800px;
}

.photo-right{
    display: flex;
    flex-direction: row;
}

.text {
    display: block;
    max-width: 380px;
}

p{
    font-family: "EB Garamond";
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
  }
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

img{
    width: 380px;
}