/* header*/
.header{
    background-image: url(../luciav416.github.io/assets/image_26.jpg);
    background-size: 100vw;
    height: 100%;
    back
}
/* title */
h1{
    font-family: "p22-zaner-pro-three", sans-serif;
    font-size: 15vw;
    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#r{
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
}

/* entries */
.entries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
}
.entries-child{
    background-color: grey;
    color: white;
    padding: 1em 1em;
    border-radius: 25px;
    font-family: "p22-zaner-pro-three", sans-serif;
}