html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "old-claude-lp-regular", sans-serif;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: lightgrey 4px dotted;
}

.header-text {
    margin: 25px;
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a:hover {
    letter-spacing: 2px;
    color: lightgrey;
}

#main-page {
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 8rem;
    width: 1200px;
    align-self: center;
    text-align: center;
    font-family: "fleur-display", sans-serif;
    font-weight: normal;
    margin: 30px 0;
    letter-spacing: 2.5px;
}

section {
    margin: 20px 0;
    border-radius: 30px;
    background-color: lightgray;
    color: black;
    padding: 10px 22px;
}

#first-section {
    margin-top: 0px;
}

h2 {
    font-size: 2.5rem;
    margin: 0 0 8px 0;
    text-align: center;
    border-bottom: double 2px;
}

h3 {
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 1.4rem;
    margin: 0 0 0.3rem;
}

#first-h3{
    margin-top: 0rem;
}

h4 {
    font-size: 1.2rem;
    margin: 0 0 0.1rem;
}

p {
    margin: 0 0 0.8rem;
}

#first-paragraph{
    margin-top: 0.6rem;
}

ol, ul{
    margin: 0 0 0.8rem 0;
}

footer {
    height: 50px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: dotted white;
    margin-top: 30px;
}

#my-name {
    margin: 25px;
    color: white;
}

#class-name {
    color: white;
    margin: 25px;
}

#entry-name {
    color: white;
    margin: 25px;
}