html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* https://fonts.adobe.com/fonts/old-claude-lp */
    font-family: "old-claude-lp-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

/* * {
    margin: 0;
} */

#container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100vw;
    border-bottom: #ced4da 2px dotted;
}

.header-text {
    margin-left: 25px;
    margin-right: 25px;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a:hover {
    letter-spacing: 5px;
    color: #f5cb5c;
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 8rem;
    width: 1200px;
    padding: 100px 0px 30px 0px;
    align-self: center;
    text-align: center;
    font-family: "fleur", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    letter-spacing: 1px;
}

section {
    border-radius: 30px;
    padding: 20px;
    background-color: #ced4da;
    color: black;
    margin-bottom: 40px;
}

h2 {
    font-family: "charcuterie-etched", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 35px;
    margin-bottom: 15px;
}

h3 {
    font-family: "charcuterie-engraved", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 8px;
    line-height: 35px;
    margin-bottom: 16px;
}

h4 {
    font-family: "charcuterie-flared", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}