html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "old-claude-lp-regular", sans-serif;
    background-color: purple;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

header {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: white 4px dotted;
    z-index: 2;
}

.header-text {
    margin: 25px;
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

a:hover {
    letter-spacing: 2px;
    color: lightgrey;
}

#main-page {
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 8rem;
    width: 1200px;
    align-self: center;
    text-align: center;
    font-family: "fleur-display", sans-serif;
    font-weight: normal;
    margin: 30px 0;
    letter-spacing: 2.5px;
}

footer {
    height: 50px;
    width: 100vw;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: dotted white;
    margin-top: 30px;
}

#my-name {
    margin: 25px;
    color: white;
}

#class-name {
    color: white;
    margin: 25px;
}

#entry-name {
    color: white;
    margin: 25px;
}

h2{
    color: white;
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 4.5rem;
    text-align: center;
    margin: 0;
}

h3{
   color: white;
    font-family: "old-claude-lp-expert", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

#text{
    color: white;
    text-align: left;
    width: 800px;
}