body{
    background-color: Tan;
    font-family: "Zilla Slab"; serif;
    font-weight: normal;
    font-style: normal;
}

/* link */
a {
    text-decoration: none;
    background-color: #59382C;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 25px;
}

a:hover {
    background-color: #261612;
}

/* Heading */
h1{
    margin: 20px;
    text-align:center;
    font-size: 72px;
}

/* Gallery */
.gallery-container {
    display: flex;
    width: 95%;
    margin:20px;
    max-height: 300px;
    overflow: visible;
    white-space: nowrap;
    transition: 3s ease-in-out;
    object-fit: cover;
}


.gallery-container:hover {
    overflow: visible;
    transition: 2s ease-in-out;
} 
   

.gallery{
    display: flex;
    max-height: 300px;
    margin: 5px;
    transition-duration:2s ease;
    object-fit: cover;
}

.gallery img{
    max-height: 200px;
    object-fit: cover;
    display: inline-block;
    transition: transform 2s ease-in-out;
    transform-origin: left top;
    background-color: transparent;
    border: 5px solid transparent;
}

.gallery img:hover{
    transform: scale(2);
}

.image-container {
    position: relative; 
    transition: 3s ease-in-out;
    display: flex;
    background-color: transparent;
    border: 5px solid transparent;
}

.overlay-text{
    position: absolute;
    color: rgb(53, 35, 22);
    font-family: "Zilla Slab";
    font-size: 18px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    margin: 25px;
    max-width: 200px;
    transition: 3s ease-in-out;
}

.image-container:hover .overlay-text {
    opacity: 1;
    color: goldenrod;
    font-size: 72px;
    font-weight: 700;
    transition: 3s ease-in-out;
  }

.image-container:hover ~ .image-container {
    opacity: 0;  
    pointer-events: none; 
  }